aside#media_image-2 {
  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
  transform: rotate(7deg);
}

aside#media_image-2 h2 {
  color: red;
}

aside#media_image-2 img {
  border: 1px solid #aaa;
  animation: jump 5s;
}

@keyframes jump {
  80% {
    transform: scale(1) rotate(0);
    box-shadow: 0 0 white;
  }
  90% {
    transform: scale(1.2) rotate(-20deg);
    box-shadow: 5px 10px #ddd;
  }
  100% {
    transform: scale(1);
  }
}

/* overrides for mobile view */
@media only screen and (max-width: 480px) {
  .hentry,
  .page-header,
  .page-content {
    margin: 0;
  }
}
